/* Some stylesheet reset */
.Menu {
	cursor: pointer;
}
#menu  > ul {
	list-style: none;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	line-height: 1;
}

/* The container */
#menu  > ul {
	display: block;
	position: relative;
	width: 150px;
}

	/* The list elements which contain the links */
	#menu  > ul li {
		display: block;
		position: relative;
		margin: 0;
		padding: 0;
		width: 150px;	
	}

		/* General link styling */
		#menu  > ul li span {
			/* Layout */
			display: block;
			position: relative;
			margin: 0;
			border-top: 1px dotted #3a3a3a;
			border-bottom: 1px dotted #1b1b1b;
			padding: 11px 20px;
			width: 110px;

			/* Typography */
			font-family: Helvetica, Arial, sans-serif;
			color: #d8d8d8;
			text-decoration: none;
			text-transform: uppercase;
			text-shadow: 0 1px 1px #000;
			font-size: 13px;
			font-weight: 300;			

			/* Background & effects */
			background: #282828;
		}

		/* Rounded corners for the first link of the menu/submenus */
		#menu  > ul li:first-child>span {
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
			border-top: 0;
		}

		/* Rounded corners for the last link of the menu/submenus */
		#menu  > ul li:last-child>span {
			border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px;
			border-bottom: 0;
		}


		/* The hover state of the menu/submenu links */
		#menu  > ul li>span:hover, #menu  > ul li:hover>span {
			color: #fff;
			text-shadow: 0 1px 0 rgba(0, 0, 0, .3);
			background: #54cdf1;
			background: -webkit-linear-gradient(bottom, #54cdf1, #74d7f3);
			background: -ms-linear-gradient(bottom, #54cdf1, #74d7f3); 
			background: -moz-linear-gradient(bottom, #54cdf1, #74d7f3);
			background: -o-linear-gradient(bottom, #54cdf1, #74d7f3);
			border-color: transparent;
		}

		/* The arrow indicating a submenu */
		#menu  > ul .has-sub>span::after {
			content: '';
			position: absolute;
			top: 16px;
			right: 10px;
			width: 0px;
			height: 0px;

			/* Creating the arrow using borders */
			border: 4px solid transparent;
			border-left: 4px solid #d8d8d8; 
		}

		/* The same arrow, but with a darker color, to create the shadow effect */
		#menu  > ul .has-sub>span::before {
			content: '';
			position: absolute;
			top: 17px;
			right: 10px;
			width: 0px;
			height: 0px;

			/* Creating the arrow using borders */
			border: 4px solid transparent;
			border-left: 4px solid #000;
		}

		/* Changing the color of the arrow on hover */
		#menu  > ul li>span:hover::after, #menu  > ul li:hover>span::after {
			border-left: 4px solid #fff;
		}

		#menu  > ul li>span:hover::before, #menu  > ul li:hover>span::before {
			border-left: 4px solid rgba(0, 0, 0, .3);
		}

	
		/* THE SUBMENUS */
		#menu  > ul ul {
			position: absolute;
			left: 150px;
			top: -9999px;
			padding-left: 5px;
			opacity: 0;
			/* The fade effect, created using an opacity transition */
			-webkit-transition: opacity .3s ease-in;
			-moz-transition: opacity .3s ease-in;
			-o-transition: opacity .3s ease-in;
			-ms-transition: opacity .3s ease-in;
		}

		/* Showing the submenu when the user is hovering the parent link */
		#menu  > ul li:hover>ul {
			top: 0px;
			opacity: 1;
		}