<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Mangosteen</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <servlet-name>webdav</servlet-name>
    <servlet-class>net.sf.webdav.WebdavServlet</servlet-class>
    <init-param>
      <param-name>ResourceHandlerImplementation</param-name>
      <param-value>net.sf.webdav.LocalFileSystemStore</param-value>
    </init-param>
    <init-param>
      <param-name>rootpath</param-name>
      <param-value>/mnt/sdcard</param-value>
    </init-param>
    <init-param>
      <param-name>lazyFolderCreationOnPut</param-name>
      <param-value>0</param-value>
    </init-param>
    <init-param>
      <param-name>no-content-length-headers</param-name>
      <param-value>0</param-value>
    </init-param>
    <init-param>
      <param-name>default-index-file</param-name>
      <param-value></param-value>
    </init-param>
    <init-param>
      <param-name>instead-of-404</param-name>
      <param-value></param-value>
    </init-param>
    <init-param>
      <param-name>storeDebug</param-name>
      <param-value>1</param-value>
    </init-param>
    <init-param>
      <param-name>servletDebug</param-name>
      <param-value>1</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>webdav</servlet-name>
    <url-pattern>/webdav/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PerFolderList</display-name>
    <servlet-name>PerFolderList</servlet-name>
    <servlet-class>org.mem.action.servlet.PerFolderList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PerFolderList</servlet-name>
    <url-pattern>*.do</url-pattern>
    <url-pattern>/mobile/*.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectFolderList</display-name>
    <servlet-name>SelectFolderList</servlet-name>
    <servlet-class>org.mem.action.servlet.SelectFolderList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectFolderList</servlet-name>
    <url-pattern>SelectFolderList.bo</url-pattern>
    <url-pattern>/mobile/SelectFolderList.bo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TransThumbnail</servlet-name>
    <servlet-class>org.mem.action.servlet.TransThumbnail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransThumbnail</servlet-name>
    <url-pattern>/image/*</url-pattern>
    <url-pattern>/video/*</url-pattern>
    <url-pattern>/audio/*</url-pattern>
    <url-pattern>/mobile/image/*</url-pattern>
    <url-pattern>/mobile/video/*</url-pattern>
    <url-pattern>/mobile/audio/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TransOriginalMedia</servlet-name>
    <servlet-class>org.mem.action.servlet.TransOriginalMedia</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransOriginalMedia</servlet-name>
    <url-pattern>/oriImage/*</url-pattern>
    <url-pattern>/oriVideo/*</url-pattern>
    <url-pattern>/oriAudio/*</url-pattern>
    <url-pattern>/mobile/oriImage/*</url-pattern>
    <url-pattern>/mobile/oriVideo/*</url-pattern>
    <url-pattern>/mobile/oriAudio/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FrontController</display-name>
    <servlet-name>FrontController</servlet-name>
    <servlet-class>org.mem.action.FrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FrontController</servlet-name>
    <url-pattern>/*.fff</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileExplorer</display-name>
    <servlet-name>FileExplorer</servlet-name>
    <servlet-class>org.mem.action.servlet.FileExplorer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileExplorer</servlet-name>
    <url-pattern>/FileExplorer.do</url-pattern>
    <url-pattern>/mobile/FileExplorer.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImgThumbnailList</display-name>
    <servlet-name>ImgThumbnailList</servlet-name>
    <servlet-class>org.mem.action.ImgThumbnailList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImgThumbnailList</servlet-name>
    <url-pattern>/ImgThumbnailList</url-pattern>
    <url-pattern>/mobile/ImgThumbnailList</url-pattern>
  </servlet-mapping>
  <!-- 
  <servlet>
    <description></description>
    <display-name>TransPerFolderThumbnail</display-name>
    <servlet-name>TransPerFolderThumbnail</servlet-name>
    <servlet-class>org.mem.action.TransPerFolderThumbnail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransPerFolderThumbnail</servlet-name>
    <url-pattern>/TransPerFolderThumbnail</url-pattern>
    <url-pattern>/mobile/TransPerFolderThumbnail</url-pattern>
  </servlet-mapping>
   -->
  <servlet>
    <description>Servlet for file downloads</description>
    <display-name>File Download Servlet</display-name>
    <servlet-name>FileDownloadServlet</servlet-name>
    <servlet-class>org.mem.action.servlet.FileDownloadServlet</servlet-class>
    <init-param>
      <param-name>rootpath</param-name>
      <param-value>/mnt/sdcard</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileDownloadServlet</servlet-name>
    <url-pattern>/FileDownloadServlet</url-pattern>
    <url-pattern>/mobile/FileDownloadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet for file uploads</description>
    <display-name>File Upload Servlet</display-name>
    <servlet-name>FileUploadServlet</servlet-name>
    <servlet-class>org.mem.action.servlet.FileUploadServlet</servlet-class>
    <init-param>
      <param-name>rootpath</param-name>
      <param-value>/mnt/sdcard</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadServlet</servlet-name>
    <url-pattern>/FileUploadServlet</url-pattern>
    <url-pattern>/mobile/FileUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>File Upload Servlet2</display-name>
    <servlet-name>FileUploadServlet2</servlet-name>
    <servlet-class>org.mem.action.servlet.FileUploadServlet2</servlet-class>
    <init-param>
      <param-name>rootpath</param-name>
      <param-value>/mnt/sdcard</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadServlet2</servlet-name>
    <url-pattern>/FileUploadServlet2</url-pattern>
    <url-pattern>/mobile/FileUploadServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PhoneInformation</display-name>
    <servlet-name>PhoneInformation</servlet-name>
    <servlet-class>org.mem.action.servlet.PhoneInformation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhoneInformation</servlet-name>
    <url-pattern>/PhoneInformation.do</url-pattern>
    <url-pattern>/mobile/PhoneInformation.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WallPaperServlet</display-name>
    <servlet-name>WallPaperServlet</servlet-name>
    <servlet-class>org.mem.action.servlet.WallPaperServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WallPaperServlet</servlet-name>
    <url-pattern>/WallPaperServlet.do</url-pattern>
    <url-pattern>/mobile/WallPaperServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MjpegStreamming</display-name>
    <servlet-name>MjpegStreamming</servlet-name>
    <servlet-class>org.mem.action.servlet.MjpegStreamming</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MjpegStreamming</servlet-name>
    <url-pattern>/MjpegStreamming.do</url-pattern>
    <url-pattern>/mobile/MjpegStreamming.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WallPaperSet</display-name>
    <servlet-name>WallPaperSet</servlet-name>
    <servlet-class>org.mem.action.servlet.WallPaperSet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WallPaperSet</servlet-name>
    <url-pattern>/WallPaperSet.do</url-pattern>
    <url-pattern>/mobile/WallPaperSet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RingtoneSet</display-name>
    <servlet-name>RingtoneSet</servlet-name>
    <servlet-class>org.mem.action.servlet.RingtoneSet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RingtoneSet</servlet-name>
    <url-pattern>/RingtoneSet</url-pattern>
    <url-pattern>/mobile/RingtoneSet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HLSStreamming</display-name>
    <servlet-name>HLSStreamming</servlet-name>
    <servlet-class>org.mem.action.servlet.HLSStreamming</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HLSStreamming</servlet-name>
    <url-pattern>/hls/video.m3u8</url-pattern>
    <url-pattern>/hls/temp/*.ts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadReceiver</display-name>
    <servlet-name>UploadReceiver</servlet-name>
    <servlet-class>org.mem.action.UploadReceiver</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadReceiver</servlet-name>
    <url-pattern>/UploadReceiver</url-pattern>
  </servlet-mapping>
</web-app>