<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>무제 문서</title>
<style type="text/css">
body {
	background-color: #2C2F2D;
	font-size: 12px;
	color: #FFFFFF;
	text-align: center;
}
.MangoText {
	font-size: 72px;
	color: #36F;
}
.MangoText {
	color: #33CCFF;
}
.MangoText {
	font-size: 48px;
}
MangoText {
	font-size: 40px;
}
.MangoText .MangoText {
	font-size: 35px;
	color: #00CCFF;
	font-weight: bold;
}
</style>
</head>

<body>
<p><img src="./images/mangosteen2.png" width="86" height="88" /> <span class="MangoText" style="font-size: 72px; color: #B3E1EF; font-weight: bold;"><span class="MangoText">Mangosteen DataLink</span></span>
</p>
<p>&nbsp;</p>
<p>Accept Friend after friend request You'll have to wait.</p>
<p>Click anywhere outside the window If you want to cancel the request.</p>
<form id="form1" name="form1" method="post" action="">
  <input type="submit" name="request" id="request" value="request" onclick="request_ok()" />
</form>
<p>&nbsp;</p>


<script language = 'javascript'>
    function request_ok(){

        document.form1.action = '/request_ok';
        document.form1.submit();
    }

</script>

</body>
</html>
