!!! 5
html(xmlns='http://www.w3.org/1999/xhtml')
    head
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        link(rel='stylesheet', type='text/css', href='/stylesheets/style_main.css')

        style(type='text/css')
              body {
                background-color: #2C2F2D;
                font-size: 12px;
                color: #FFFFFF;
                text-align: center;
              }
              .MangoText {
                font-size: 72px;
                color: #36F;
              }
              .MangoText {
                color: #33CCFF;
              }
              .MangoText {
                font-size: 48px;
              }
              MangoText {
                font-size: 40px;
              }
              .MangoText .MangoText {
                font-size: 35px;
                color: #00CCFF;
                font-weight: bold;
              }
    body
        p
          img(src='./images/mangosteen2.png', width='86', height='88')
          span.MangoText(style='font-size: 72px; color: #B3E1EF; font-weight: bold;')
            span.MangoText Mangosteen DataLink
        p  
        p Friend request has been sent successfully.
        p Please wait for you to accept the friend request.
        p Click anywhere outside the window If you want to close this page.
        p  
            h2#myName FriendID : #{friend}
                  ul
                    img(src=fri_pic)
            h2#friName FriendName : #{fri_name}

